.footer {
    padding: 50px 5vw;
    text-align: center;
    font-size: 14px;
}

.footer a {
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    opacity: 0.8;
}

.footer__section {
    margin: 10px 0px;
}